// Colors
$color-white: white;
$color-black: black;


// Fonts
$sans: 'Source Sans Pro', sans-serif;
$dosis: 'Dosis', sans-serif;


// Display
$mobile: 375px;
$tablet: 1024px;
$desktop: 1728px;