@mixin titles {
    color: $color-white;
    font-family: $upper;
    text-align: center;
    text-transform: uppercase;
}

@mixin obsH5 {
    color: $color-green;
    font-family: $lower;
    font-size: .7rem;
    font-weight: 700;
    text-transform: uppercase;
}

@mixin obsP {
    color: $color-green;
    font-family: $lower;
    font-size: .7rem;
    font-weight: 700;
}

@mixin ingredientsDesktop {
    background-color: $color-light-green;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 15%;
    padding: 1rem;
    width: 23%;
}