// Colors
$color-black: black;
$color-green: rgb(129, 215, 129);
$color-pink: pink;
$color-white: white;
$color-yellow: rgb(255, 255, 127);


// Fonts
$upper: 'Righteous';
$lower: 'Roboto';


// Display
$tablet: 1024px;
$desktop: 1728px;