// Colors
$color-black: black;
$color-green: rgb(60, 185, 60);
$color-light-green: rgb(179, 223, 126);
$color-pink: pink;
$color-white: white;
$color-yellow: rgb(255, 255, 127);


// Fonts
$upper: 'Righteous';
$lower: 'Roboto';


// Display
$tablet: 1024px;
$desktop: 1728px;