footer{
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    margin-bottom: .5rem;

    span{
        font-size: .8rem;

        @media screen and (min-width: $desktop){
            font-size: 1.2rem;
        }

        a{
            color: $color-black;
            font-size: .8rem;
            text-decoration: none;

            @media screen and (min-width: $desktop){
                font-size: 1.2rem;
            }
        }
    }
}