header{
    align-items: center;
    display: flex;
    font-size: .8rem;
    justify-content: space-between;
    margin-bottom: 3rem;
    padding: 1rem;

    @media screen and (min-width: $desktop){
        font-size: 1.5rem;
        padding: 2rem;
    }

    .fa-globe{
        margin-right: 2rem;
    }

    ul{
        cursor: pointer;
        display: flex;
        font-family: $font-text;
        gap: 2rem;
        margin-left: 5rem;

        @media screen and (min-width: $desktop){
            margin-left: 10rem;
        }
        
        li:hover{
            @include linksHover;
        }
    }

    .fa-sun{
        @include sunNight;

        @media screen and (min-width: $desktop){
            font-size: 1rem;
        }
    }

    .fa-moon{
        @include sunNight;
        display: none;

        @media screen and (min-width: $desktop){
            font-size: 1rem;
        }
    }

    .header__container--connect{
        cursor: pointer;
        display: flex;
        gap: .5rem;
        font-family: $font-text;

        @media screen and (min-width: $desktop){
            gap: 1rem;
        }
        
        p:hover{
            @include linksHover;
        }
    }
}