header{
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    .fa-globe{
        margin-right: 3rem;
    }

    ul{
        display: flex;
        font-family: $font-text;
        gap: 2rem;
    }

    .header__container--connect{
        display: flex;
        gap: .5rem;
        font-family: $font-text;
    }
}