@import 'abstracts/utilities';
@import 'abstracts/variables';
@import 'components/header';
@import 'components/main';

*{
    box-sizing: border-box;
}

body{
    background-image: url('../images/body-bg.jpg');
    background-size: cover;
}