main{

    h1{
        color: $color-black;
        font-size: 2rem;
        margin: .8rem 0;
        padding: .5rem 1rem;
        text-align: center;

        @media screen and (min-width: $tablet){
            font-size: 2.5rem;
        }
    }

    img{
        width: 100%;
    }

    .main__container--links{
        align-items: center;
        display: flex;
        gap: .8rem;
        justify-content: space-between;
        margin-top: 1rem;

        @media screen and (min-width: $tablet){
            justify-content: space-around;
        }

        .main__button--first{
            @include links;
            border: 1px solid $color-black;
            background-color: $color-black;
            margin-left: 1.5rem;
            padding: 1rem 2rem;

            @media screen and (min-width: $tablet){
                font-size: 1.5rem;
                padding: 1.2rem 2.2rem;
            }
        }

        .main__button--second{
            @include links;
            color: $color-black;
            margin-right: 1.8rem;

            @media screen and (min-width: $tablet){
                font-size: 1.5rem;
            }
        }
    }
}