footer{
    background-color: $color-black;
    bottom: 2%;
    left: 50%;
    position: absolute;
    transform: translate(-50%);

    p{
        color: $color-white;
        font-family: $roboto;
        font-size: .6rem;

        @media screen and (min-width: $desktop){
            font-size: 1.2rem;
        }

        a{
            color: $color-white;
            text-decoration: none;
        }
    }
}