main{
    background-color: $color-black;
    padding-left: 7rem;

    #section__one{
        width: 50%;

        h1{
            color: $color-white;
            font-family: $roboto;
            font-size: 3rem;
            width: 50%;
            margin-bottom: 1rem;
        }

        .one__container--text{
            align-items: center;
            display: flex;
            gap: 1rem;

            .section__one--button{
                background-color: $color-dark-gray;
                border-radius: .5rem;
                color: $color-white;
                display: inline-block;
                font-family: $roboto;
                font-size: .8rem;
                margin-top: 2rem;
                padding: 1rem 2rem;
            }
    
            .section__one--text{
                color: $color-gray;
                display: inline-block;
                font-family: $mont;
                font-size: .6rem;
                line-height: .8rem;
                margin-top: 2rem;
                width: 40%;
            }
        }
        
        .section__one--img{
            background-image: url('../images/main-background.jpg');
            height: 30vh;
            width: 30%;
            background-size: contain;
            position: absolute;
            top: 20%;
            left: 65%;
        }
    }

    #section__two{
        background-color: $color-black;
        padding-top: 5rem;

        p{
            color: $color-white;
        }
    }
}