main{
    background-color: $color-black;
    padding-left: 7rem;

    #section__one{
        width: 50%;

        h1{
            color: $color-white;
            font-family: $roboto;
            font-size: 3rem;
            margin-bottom: 1rem;
            width: 50%;

            @media screen and (min-width: $desktop){
                font-size: 6rem;
            }
        }

        .one__container--text{
            align-items: center;
            display: flex;
            gap: 1rem;

            .section__one--button{
                background-color: $color-dark-gray;
                border-radius: .5rem;
                color: $color-white;
                cursor: pointer;
                display: inline-block;
                font-family: $roboto;
                font-size: .8rem;
                margin-top: 2rem;
                padding: 1rem 2rem;

                &:hover{
                    background-color: $color-white;
                    color: $color-black;
                    font-weight: 700;
                    transition: 1s;
                }

                @media screen and (min-width: $desktop){
                    font-size: 1.5rem;
                    margin-top: 4rem;
                    padding: 2rem 4rem;
                }
            }
    
            .section__one--text{
                color: $color-gray;
                display: inline-block;
                font-family: $mont;
                font-size: .6rem;
                line-height: .8rem;
                margin-top: 2rem;
                width: 40%;

                @media screen and (min-width: $desktop){
                    font-size: 1.2rem;
                    line-height: 1.5rem;
                    margin-top: 4rem;
                }
            }
        }
        
        .section__one--img{
            background-image: url('../images/main-background.jpg');
            background-repeat: no-repeat;
            background-size: contain;
            height: 30vh;
            left: 65%;
            position: absolute;
            top: 20%;
            width: 30%;
        }
    }

    #section__two{
        background-color: $color-black;
        display: flex;
        gap: 3rem;
        padding-top: 10%;

        p{
            color: $color-white;
            font-size: 2.5rem;
            font-family: $roboto;

            @media screen and (min-width: $desktop){
                font-size: 5rem;
            }

            span{
                display: inline-block;
                font-family: $mont;
                font-size: .6rem;
                line-height: .8rem;
                margin-left: 1rem;
                margin-right: 1rem;
                width: 25%;

                @media screen and (min-width: $desktop){
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                    margin-right: 2rem;
                }
            }

            i{
                font-size: 1rem;
                transform: rotate(45deg);

                @media screen and (min-width: $desktop){
                    font-size: 2rem;
                }
            }
        }
    }
}