#section__cameras{

    .section__menu--container{
        @include sectionMenu;
        
        h2{
            font-family: $sans;
        }

        .fa-circle-chevron-up{
            display: none;
        }
    }

    .section__img--cameras{
        display: none;

        .img--cameras{
            @include imgDisplay;
        }
    }
}

#section__forests{
    
    .section__menu--container{
        @include sectionMenu;
        
        h2{
            font-family: $sans;
        }

        .fa-circle-chevron-up{
            display: none;
        }
    }

    .section__img--forests{
        display: none;

        .img--forests{
            @include imgDisplay;
        }
    }
}