header{
    nav{
        color: $color-white;
        display: flex;
        justify-content: space-between;
        padding: 2rem 2.5rem;

        @media screen and (min-width: $desktop){
            padding-bottom: 6rem;
        }
        
        h3{
            font-family: $upper;
            text-transform: uppercase;

            @media screen and (min-width: $desktop){
                font-size: 2rem;
            }
        }
        
        ul{
            display: flex;
            gap: 3rem;
            
            li{
                cursor: pointer;
                font-family: $lower;
                font-size: .8rem;

                &:hover{
                    border-bottom: 1px solid $color-white;
                }

                @media screen and (min-width: $desktop){
                    font-size: 1.5rem;
                }
            }
        }

        .header__container--icon{
            cursor: pointer;
            display: flex;
            gap: 1rem;

            @media screen and (min-width: $desktop){
                font-size: 1.5rem;
            }
        }
    }
}