main{
    .main__titles{
        margin-bottom: 2rem;

        @media screen and (min-width: $desktop){
            margin-bottom: 5rem;
        }

        h1{
           @include titles;
           font-size: 4rem;

            @media screen and (min-width: $desktop){
                font-size: 6rem;
            }
        }
    
        h2{
            @include titles;
            font-size: 1.5rem;

            @media screen and (min-width: $desktop){
                font-size: 2.5rem;
            }
        }
    }
}    