footer{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    font-size: .8rem;
    padding-bottom: .95rem;

    p{
        a{
            @include links;
            color: $color-black;
        }
    }
}