// Colors
$color-black: black;
$color-blue: rgb(103, 103, 183);
$color-gray: rgb(176, 175, 175);
$color-white: white;


// Fonts
$roboto: 'Roboto';
$mont: 'Montserrat';


// Displays
$tablet: 1024px;
$desktop: 1728px;