// Colors
$color-body: rgb(169, 169, 169);
$color-main: rgb(224, 224, 224);
$color-black: black;
$color-white: white;


// Font
$principal: 'Roboto';


// Displays
$mobile: 375px;
$tablet: 1024px;
$desktop: 1780px;