@mixin links {
    color: $color-white;
    display: inline-block;
    font-family: $principal;
    text-align: center;
    text-decoration: none;
}

@mixin headerTablet {
    font-size: 1.5rem;
    padding: .9rem;
}