header {
  align-items: center;
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  margin-bottom: 3rem;
  padding: 1rem;
}
@media screen and (min-width: 1728px) {
  header {
    font-size: 1.5rem;
    padding: 2rem;
  }
}
header .fa-globe {
  margin-right: 2rem;
}
header ul {
  cursor: pointer;
  display: flex;
  font-family: "Montserrat";
  gap: 2rem;
  margin-left: 5rem;
}
@media screen and (min-width: 1728px) {
  header ul {
    margin-left: 10rem;
  }
}
header ul li:hover {
  border-bottom: 1px solid black;
  padding-bottom: 0.3rem;
  transition: all 0.5s;
}
header .fa-sun {
  cursor: pointer;
  font-size: 0.6rem;
  left: 75%;
  position: absolute;
}
@media screen and (min-width: 1728px) {
  header .fa-sun {
    font-size: 1rem;
  }
}
header .fa-moon {
  cursor: pointer;
  font-size: 0.6rem;
  left: 75%;
  position: absolute;
  display: none;
}
@media screen and (min-width: 1728px) {
  header .fa-moon {
    font-size: 1rem;
  }
}
header .header__container--connect {
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  font-family: "Montserrat";
}
@media screen and (min-width: 1728px) {
  header .header__container--connect {
    gap: 1rem;
  }
}
header .header__container--connect p:hover {
  border-bottom: 1px solid black;
  padding-bottom: 0.3rem;
  transition: all 0.5s;
}

main .main__container--title {
  display: flex;
  justify-content: center;
}
main .main__container--title h1 {
  font-family: "Allura";
  font-size: 4rem;
  text-align: center;
  width: 20rem;
}
@media screen and (min-width: 1728px) {
  main .main__container--title h1 {
    font-size: 6rem;
    margin: 3rem 0;
    width: 25rem;
  }
}
main .main__container--title h1 span {
  font-family: "Montserrat";
  font-size: 2.5rem;
  font-weight: 700;
}
@media screen and (min-width: 1728px) {
  main .main__container--title h1 span {
    font-size: 3.5rem;
  }
}
main .main__container {
  align-items: center;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1728px) {
  main .main__container {
    margin: 3rem 0 10rem 0;
  }
}
main .main__container .main__img--first {
  background-image: url("../images/headphone.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0.8rem;
  height: 21vh;
  width: 20%;
  margin-left: 3rem;
}
main .main__container .main__container--text {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .main__container .main__container--text p {
  font-size: 0.8rem;
  line-height: 1.5rem;
  text-align: center;
  width: 60%;
}
@media screen and (min-width: 1728px) {
  main .main__container .main__container--text p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    width: 61%;
  }
}
main .main__container .main__container--text span {
  background-color: black;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  font-size: 0.6rem;
  padding: 1rem 2rem;
}
main .main__container .main__container--text span:hover {
  background-color: pink;
  transition: 0.5s;
}
@media screen and (min-width: 1728px) {
  main .main__container .main__container--text span {
    font-size: 1.2rem;
    padding: 1.5rem 2.5rem;
  }
}
main .main__container .main__img--second {
  background-image: url("../images/car.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0.8rem;
  height: 21vh;
  width: 20%;
  margin-right: 3rem;
}
main section {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: 5rem;
}
main section .section__container {
  display: flex;
  font-size: 0.8rem;
  gap: 1rem;
  line-height: 1rem;
  margin-left: 3rem;
}
@media screen and (min-width: 1728px) {
  main section .section__container {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}
main section .section__container p {
  width: 68%;
}
main section .section__container--second {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-left: 3rem;
}
main section .section__container--second .section__container--text {
  width: 65%;
}

footer {
  bottom: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  margin-bottom: 0.5rem;
}
footer span {
  font-size: 0.8rem;
}
@media screen and (min-width: 1728px) {
  footer span {
    font-size: 1.2rem;
  }
}
footer span a {
  color: black;
  font-size: 0.8rem;
  text-decoration: none;
}
@media screen and (min-width: 1728px) {
  footer span a {
    font-size: 1.2rem;
  }
}

* {
  box-sizing: border-box;
  font-family: "Montserrat";
}/*# sourceMappingURL=style.css.map */